@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: synthwave --default, dark --prefersdark, night;
}

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@fortawesome/fontawesome-free/css/all.css";

.certificate {
    height: 180px;
    width: 180px;
}