---

---

<div class="hero  ">
  <div class="hero-content text-center flex-col lg:flex-row-reverse">
    <div class="max-w-md">

    </div>
    
    <div class="max-w-md">
      <h1 class="text-5xl mt-3 text-3xl md:text-5xl uppercase font-extrabold bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent">John Manko</h1>
      <h2 class="text-xl font-bold">Senior Application Engineer</h2>
      <p class="py-6">
        With a career architecting and developing modern full-stack solutions, I lead product development with robust DevOps and testing practices. Specializing in polyglot microservices (Java focus), containerization and release automation, my role revolves around enhancing system reliability and performance. AI forward-looking. AWS certified and Kubernetes trained.
      </p>
    </div>
  </div>
</div>
