---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-3xl 
  prose-h2:font-bold prose-h2:text-2xl prose-h2:uppercase prose-h2:bg-gradient-to-r prose-h2:from-rose-400 prose-h2:via-fuchsia-500 prose-h2:to-indigo-500 prose-h2:bg-clip-text prose-h2:text-transparent 
  prose-a:text-blue-600 prose-p:text-justify prose-p:text-lg prose-img:rounded-xl">
  <slot />
</div>