---
import Hero from "@Components/Hero.astro";
import SocialIcons from "./SocialIcons.astro";
import Certifications from "./Certifications.astro";
---

<div id="container">
	<main>
		<section id="hero">
			<Hero/>
		</section>
		<section id="socials">
			<div class="text-center">
				<SocialIcons/>
			</div>
		</section>
		<section id="certs">
			<div class="flex justify-center flex-wrap mt-8 mb-8">
				<Certifications />
			</div>
		</section>


        
	</main>

</div>
