---
import "../styles/global.css";
import PageFooter from "@Components/PageFooter.astro";
import PageHeader from "@Components/PageHeader.astro";
---
<!doctype html>
<html lang="en" data-theme="night" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>John Manko</title>
	</head>
	<body>
		<div class="flex flex-col min-h-screen">
			<PageHeader/>

			<!-- Main Content (takes up remaining space) -->
			<main class="flex-grow p-4 m-4 z-0">
				<slot />	
			</main>
		  
			<PageFooter/>
		  </div>
		  
		
	</body>
</html>

